name: Build package

on: [ push, pull_request, workflow_dispatch ]

# written referencing apollo save tool psp's CI

jobs:
  build_pkg:
    runs-on: ubuntu-24.04
    steps:

    - name: Checkout
      uses: actions/checkout@v5
      with:
        submodules: true

    - name: Install server build deps
      run: |
        sudo apt update
        sudo apt install -y gcc libsqlite3-dev podman

    - name: Download PSP SDK
      run: |
        curl -sL https://github.com/pspdev/pspdev/releases/download/v20250601/pspdev-ubuntu-latest-x86_64.tar.gz | tar xvz -C ./

    - name: Set env vars
      run: |
        echo "sha_name=$(echo ${GITHUB_SHA} | cut -c1-8)" >> $GITHUB_ENV
        echo "PSPDEV=${GITHUB_WORKSPACE}/pspdev" >> $GITHUB_ENV
        echo "${GITHUB_WORKSPACE}/pspdev/bin" >> $GITHUB_PATH

    - name: Build
      run: |
        cp procfw_sdk_prebuilt/include/* pspdev/psp/sdk/include/
        cp procfw_sdk_prebuilt/lib/* pspdev/psp/sdk/lib/
        make CONFIG_660=1 RELEASE=1
        mv dist dist_660_release
        make clean
        make CONFIG_660=1
        mv dist dist_660_debug
        bash build_cygwin.sh
        cd aemu_postoffice/client
        bash build_psp.sh
        cp aemu_postoffice.prx ../../dist_660_release/kd
        cp aemu_postoffice.prx ../../dist_660_debug/kd

    - name: Push package artifact
      uses: actions/upload-artifact@v4
      with:
        name: aemu_${{ env.sha_name }}
        path: |
           dist_660_release
           dist_660_debug
           server_win
        if-no-files-found: error
